.bookmarks-section
    padding: 30px 0

    &__header
        margin-bottom: 25px

        &-row
            display: flex
            align-items: center
            gap: 25px

            &:not(:last-child)
                margin-bottom: 15px

            @media ($max-lg)
                flex-wrap: wrap
                flex-direction: column
                align-items: stretch
                gap: 15px

    &__title
        margin-right: auto
        white-space: nowrap

        @media ($max-lg)
            text-align: center
            width: 100%

    &__back-button
        margin-right: auto

    &__search
        max-width: 290px
        width: 100%

        @media ($max-lg)
            margin-right: auto
            max-width: 100%

    &__buttons
        display: flex
        align-items: center
        gap: 25px

        @media ($max-lg)
            gap: 15px

    &__button

        @media ($max-lg)
            width: 100%
            font-size: 14px
            padding: 5px

    &__list
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr))
        gap: 30px
        margin: 0
        padding: 0
        list-style: none

        @media ($max-md)
            gap: 20px
