.header__container form.header__search {
    margin-bottom: 0!important;
}

.bookmarks-section__header form.bookmarks-section__search {
    margin-bottom: 0!important;
}

.collection-descr__hidden.is-visible {
    display: inline!important;
}


input[name="search"]:focus + .searchItemsContainer {
    display: grid;
}
.searchItemsContainer:hover {
    display: grid;
}

.searchItemsContainer:has(a) {
    display: grid;
}

.searchItemsContainer {
    display: none;
    position: absolute;
    /*gap: 5px;*/
    background-color: #ffff;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 0.5rem;
    max-height: 300px;
    overflow-y: auto;
}

.searchItemsContainer a {
    padding: 10px 20px;
}
.searchItemsContainer a:hover {
    background-color: #f6f6f6;
}


.drag_element {
    touch-action: none;
}


#main.is-full .collection-descr.more-width {
    display: block!important;
}
#main.is-full .collection-descr.default {
    display: none!important;
}

#main:not(.is-full) .collection-descr.more-width {
    display: none!important;
}
#main:not(.is-full) .collection-descr.default {
    display: block!important;
}

@media (max-width: 500px) {
    .pagenav__item a {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}

.bookmark-card__pic:has(+ .item-label) {
    margin-bottom: 6px!important;
}

.item-label {
    font-size: .8rem;
    text-align: center;
}

#alertsContainer {
    display: none;
}

.collection-section em {
    background-color: yellow;
}

#filterAccordionItemsContainer > .accordion__inner > .accordion__panel > .accordion__header span.name-text,
#filterAccordionItemsContainer > .accordion__inner > .accordion__panel > .accordion__content > .accordion__inner > .accordion__panel > .accordion__header span.name-text {
    font-weight: bolder;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 85px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 95px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 105px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 115px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 125px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 135px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 145px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 155px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 165px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 175px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 185px;
}

.accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__inner>.accordion__panel .accordion__header {
    padding-left: 195px;
}

.highlighted {
    background-color: yellow
}

.accordion__header:has(.accordion__trigger[aria-expanded=true]) .highlighted {
    color: black;
}
