.header__container form.header__search {
    margin-bottom: 0!important;
}

.bookmarks-section__header form.bookmarks-section__search {
    margin-bottom: 0!important;
}

.collection-descr__hidden.is-visible {
    display: inline!important;
}
