.jstree-node i.jstree-icon.jstree-ocl {
    background-image: url('../../img/Vector.png');
    background-position: center center;
    background-size: 19px 10px;
    width: 19px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: transform .2s;

}

.jstree-node.jstree-closed i.jstree-icon.jstree-ocl {
    transform: rotate(180deg);
}

.jstree-leaf i.jstree-icon.jstree-ocl {
    background-image: none;
}

/*.jstree-node.jstree-open > i.jstree-ocl {*/
/*    transform: rotate(180deg);*/
/*}*/

.jstree .jstree-open>.jstree-children {
    width: 100%;
}

.jstree-default .jstree-container-ul .jstree-node {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.jstree-default .jstree-last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.jstree-default a.jstree-anchor {
    background: #F7F8FA;
    flex-grow: 1;
    border-bottom: 1px solid #A8B2C2;
    padding: 26px;
    display: flex;
    align-items: center;
    color: #374E73;
    font-weight: 800;
}

.jstree-default i.jstree-themeicon {
    display: none;
}
