.jstree-node i.jstree-icon.jstree-ocl {
    background-image: url('../../img/Vector.png');
    background-position: center center;
    background-size: 19px 10px;
    width: 19px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: transform .2s;

}

.jstree-node.jstree-closed i.jstree-icon.jstree-ocl {
    transform: rotate(180deg);
}

.jstree-leaf i.jstree-icon.jstree-ocl {
    background-image: none;
}

/*.jstree-node.jstree-open > i.jstree-ocl {*/
/*    transform: rotate(180deg);*/
/*}*/

.jstree .jstree-open>.jstree-children {
    width: 100%;
}

.jstree-default .jstree-container-ul .jstree-node {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.jstree-default .jstree-last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.jstree-default a.jstree-anchor {
    background: #F7F8FA;
    flex-grow: 1;
    border-bottom: 1px solid #A8B2C2;
    padding: 26px;
    display: flex;
    align-items: center;
    color: #374E73;
    font-weight: 800;
}

.jstree-default i.jstree-themeicon {
    display: none;
}


/* Nestable extra css */
.dd3-content {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*height: 30px;*/
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd3-content:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item.dd-item > button {
    margin-left: 30px;
}

.dd3-handle.dd-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 30px;
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle.dd-handle:hover {
    background: -webkit-linear-gradient(top, #ddd 0%, #d7d4d4 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #d7d4d4 100%);
    background: linear-gradient(top, #ddd 0%, #d7d4d4 100%);
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}

.dd-item.dd3-item {
    margin-left: 5px;
}

li > button.dd-collapse, li > button.dd-expand {
    position: absolute;
    left: -60px;
    height: 20px;
    width: 30px;
    border-radius: 30px;
    font-size: 20px;
    color: #0b0b0b;
    z-index: 2;
    background: whitesmoke;

}

.card.card-custom>.card-header.card-header-tabs-line .nav a.nav-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
